@model DiscordBot.Controllers.TestEmbed
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<div class="col-md-6 mx-auto">
    <div class="card">
        <div class="card-body">
            <form asp-action="Index" asp-controller="Home" method="post">
                <div class="form-group">
                    <label>Embed Title</label>
                    <input asp-for="Title" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Embed Description</label>
                    <textarea asp-for="Description" class="form-control" cols="5" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label>Field Name</label>
                    <textarea asp-for="name" class="form-control" cols="5" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label>Filed Value</label>
                    <textarea asp-for="value" class="form-control" cols="5" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label>Açıklama</label>
                    <select asp-for="Inline">
                        <option>True </option>
                        <option>Folse </option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Ekle</button>
            </form>
        </div>

    </div>
</div>*@